.places__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.61;
  color: #ffffff;
  padding: 0;
  margin: 0 0 26px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places__paragraph {
    width: 456px;
    min-height: min-content;
    font-size: 18px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places__paragraph {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .places__paragraph {
    font-size: 16px;
  }
}
