.header__lang-link {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  line-height: 1.17;
  text-align: right;
  text-decoration: none;
  transition: linear 0.2s;
}

.header__lang-link:hover {
  opacity: 0.7;
  cursor: pointer;
}
