.lead {
  margin: 0 auto 96px;
  padding: 0;
  max-width: 984px;
  text-align: center;
  @include responsive(phone) {
    margin-bottom: 64px;
  }
  &__caption {
    margin: 0;
    min-width: 158px;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: $fontnormal;
    font-size: $xx-small;
    color: $textcolor;
    @include responsive(tablet) {
      padding-left: 24px;
      width: 93.75%;
    }
    @include responsive(smalltablet) {
      padding-left: 24px;
      width: 93.75%;
    }
    @include responsive(phone) {
      padding-left: 16px;
    }
  }
  &__figure {
    margin: 0;
    position: relative;
  }
  &__image {
    display: block;
    position: relative;
    margin: 0 auto 8px;
    min-height: 62.5%;
    width: 100%;
    @include responsive(smalltablet) {
      object-fit: cover;
    }
    @include responsive(phone) {
      height: 200px;
      object-fit: cover;
    }
  }
  &__svg{
    position: absolute;
    z-index: 1;
    top: 14.66%;
    left: 2.36%;
    width: 95.2%;
  }
}