.lead {
  padding: 0;
  margin: 0 auto 96px;
  text-align: center;
  max-width: 984px;
  @include responsive(phone) {
    margin-bottom: 64px;
  }
  &__caption {
    text-align: left;
    font-weight: $fontnormal;
    font-size: 10px;
    line-height: 1.4;
    color: $textcolor;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    min-width: 158px;
    @include responsive(tablet) {
      padding-left: 24px;
      width: 93.75%;
    }
    @include responsive(smalltablet) {
      padding-left: 24px;
      width: 93.75%;
    }
    @include responsive(phone) {
      padding-left: 16px;
    }
  }
  &__figure {
    margin: 0;
  }
  &__image {
    margin: 0 auto 8px;
    display: block;
    min-height: 62.5%;
    width: 100%;
  @include responsive(smalltablet) {
    object-fit: cover;
  }
  @include responsive(phone) {
    height: 200px;
    object-fit: cover;
  }
}
}