.title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  color: #ffffff;
  text-align: center;
  margin: 0 auto 24px;
  max-width: 720px;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .title {
    font-size: 10vw;
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .title {
    width: 90%;
    font-size: 40px;
    line-height: 44px;
  }
}
