.photo-grid__item {
  object-fit: scale-down;
}

@media screen and (min-width: 425px) and (max-width: 1279px) {
  .photo-grid__item {
    width: 100%;
    object-fit: fill;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid__item {
    display: block;
    width: 100%;
    object-fit: fill;
  }
}
