.header {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  margin: 28px auto 64px;
  max-width: calc(100% - 96px);
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .header {
    margin: 28px 24px 48px 24px;
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 42px;
    padding: 0;
    margin: 16px auto 48px;
    max-width: calc(100% - 32px);
  }
}
