.title_place_cover {
  position: relative;
  font-size: 72px;
  line-height: 1.05;
  z-index: 3;
  margin: 0;
  max-width: 560px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  margin: 0 0 32px;
  text-align: center;
}

.title_place_cover:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .title_place_cover {
    margin: 0 0 32px 0;
    max-width: min-content;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title_place_cover {
    width: 84.3%;
    min-height: auto;
    min-width: 560px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .title_place_cover {
    font-size: 52px;
  }
}

@media screen and (max-width: 425px) {
  .title_place_cover {
    width: 90%;
    font-size: 32px;
    line-height: 1.09;
    margin: 0;
    text-align: center;
  }
}
