.link {
  font-weight: $fontnormal;
  font-size: $medium;
  line-height: 1.2;
  text-decoration: underline;
  color: $textcolor;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  @include responsive(smalltablet) {
    width: 90%;
  }
}
