.subtitle_place_cover {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  margin: 0 auto;
  z-index: 3;
  font-weight: 400;
}

.subtitle_place_cover:hover {
  cursor: pointer;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .subtitle_place_cover {
    width: 80%;
    min-height: min-content;
  }
}

@media screen and (max-width: 425px) {
  .subtitle_place_cover {
    width: 90%;
    font-size: 14px;
    line-height: 16px;
    margin: 16px calc((100% - 90%) / 2) 0;
  }
}
