.lead__image {
  margin: 0 auto 8px;
  display: block;
  min-height: 62.5%;
  width: 100%;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .lead__image {
    object-fit: cover;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    height: 200px;
    object-fit: cover;
  }
}
