.intro {
  margin: 0 auto;
  padding-bottom: 92px;
  max-width: 984px;
  @include responsive(tablet) {
    margin: 0;
    padding: 0 48px 88px;
  }
  @include responsive(smalltablet) {
    margin: 0 auto 88px 24px;
    padding: 0;
  }
  @include responsive(phone) {
    margin: 0;
    padding: 0 16px 64px;
    max-width: 320px;
    box-sizing: border-box;
  }
  &__list {
    margin: 0;
    padding: 0;
    width: 70%;
    list-style-type: none;
    @include responsive(phone) {
      min-width: 288px;
    }
  }
  &__list-item {
    line-height: 1.5;
    font-size: $x-small;
    font-weight: $fontnormal;
    color: $textcolor;
  }
  &__list-text {
    font-weight: $fontmedium;
  }
  &__text {
    margin-top: 2.5em;
    margin-bottom: 2.06em;
    width: 70%;
    line-height: 1.63;
    font-size: $normal;
    color: $textcolor;
    font-weight: $fontnormal;
    @include responsive(tablet) {
      max-width: 93.75%;
    }
    @include responsive(phone) {
      padding: 0;
      width: 90%;
    }
  }
}
