.cover {
  width: auto;
  position: relative;
  margin: 0 auto;
  padding: 0 0 92px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover {
    width: 100%;
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .cover {
    padding-bottom: 88px;
    object-fit: cover;
    margin-top: 66px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    max-width: 320px;
  }
}
