.lead__caption {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  color: #ffffff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  min-width: 158px;
}

@media screen and (min-width: 425px) and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
    width: 93.75%;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    padding-left: 16px;
  }
}
