.places__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0 0 12px 0;
  padding: 0;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .places__url-heading {
    width: 90%;
  }
}
